@import '../../styles/variables.scss';

.search-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1500px) {
  .search-results {
    grid-template-columns: 1fr;
  }
}
