.artist-page {
  .artist-banner {
    position: relative;
    border-radius: 0.5rem;
    height: 600px;

    .artist-name {
      position: absolute;
      font-size: 4rem;
      left: 5%;
      bottom: 10%;
    }

    .artist-followers {
      position: absolute;
      right: 5%;
      bottom: 15%;
    }
  }

  .artist-top-tracks {
    padding: 2rem 0;
  }

  .artist-discography {
    padding: 2rem 0;

    .artist-albums {
      padding: 2rem;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }
  }
}

@media screen and (max-width: 1500px) {
  .artist-page {
    .artist-banner {
      .artist-name {
        font-size: 2rem;
        left: 5%;
        bottom: 20%;
      }

      .artist-followers {
        left: 5%;
        bottom: 10%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .artist-page {
    .artist-banner {
      height: 300px;
    }

    .artist-discography {
      .artist-albums {
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .artist-page {
    .artist-banner {
      .artist-name {
        font-size: 2rem;
        left: 5%;
        bottom: 20%;
      }

      .artist-followers {
        left: 5%;
        bottom: 10%;
      }
    }
    .artist-discography {
      .artist-albums {
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .artist-page {
    .artist-banner {
      .artist-name {
        position: absolute;
        font-size: 2rem;
        left: 5%;
        bottom: 20%;
      }

      .artist-followers {
        position: absolute;
        left: 5%;
        bottom: 10%;
      }
    }
    .artist-discography {
      .artist-albums {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
    }
  }
}
