.artist-page {
  .artist-banner {
    position: relative;
    border-radius: 0.5rem;
    height: 500px;

    .artist-name {
      position: absolute;
      font-size: 4rem;
      left: 5%;
      bottom: 10%;
    }

    .artist-followers {
      position: absolute;
      right: 5%;
      bottom: 15%;
    }
  }

  .artist-top-tracks {
    padding: 2rem 0;
  }

  .artist-discography {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .artist-page {
    .artist-banner {
      height: 300px;
      .artist-name {
        font-size: 2rem;
        bottom: 20px;
      }

      .artist-followers {
        bottom: 25px;
      }
    }
  }
}
