$main-gradient: linear-gradient(to right, #DCE35B, #45B649);
$main-gradient-lighter: linear-gradient(to right, #f0f767, #5ae25f);
$main-gradient-darker: linear-gradient(to right, #cdd454, #399c3c);
$main-color: #45B649;
$main-color-lighter: #80d55d;
$secondary-color: #5c9f40;
$main-transition: all 0.05s ease-in-out;
