$main-gradient: linear-gradient(to right, #56ccf2, #2f80ed);;
$main-gradient-lighter: linear-gradient(to right, #7dddfc, #4e98fb);
$main-gradient-darker: linear-gradient(to right, #44aed0, #266ecf);
$main-text-color: #f0f0f0;
$main-color: #2f80ed;
$main-color-lighter: #56ccf2;
$background-main: #111111;
$background-secondary: #222222;
$background-terciary: #444444;
$secondary-color: #266ecf;
$main-transition: all 0.1s ease-in-out;
