$main-gradient: linear-gradient(to right, #56ccf2, #2f80ed);;
$main-gradient-lighter: linear-gradient(to right, #7dddfc, #4e98fb);
$main-gradient-darker: linear-gradient(to right, #44aed0, #266ecf);
$main-color: #2f80ed;
$main-color-lighter: #56ccf2;
$secondary-color: #266ecf;
$main-transition: all 0.05s ease-in-out;
