@import '../../styles/variables.scss';

.result-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  height: 4rem;
  transition: $main-transition;
  position: relative;

  .song-runtime {
    position: absolute;
    right: 1rem;
    bottom: 35%;
  }

  &:hover {
    cursor: pointer;
    background-color: $background-terciary;
  }

  .song-info {
  }

  .album-song-info {
    padding-left: 1rem;
    display: flex;
  }

  .song-title {
    font-weight: 600;
  }

  .album-title {
    color: rgb(125, 125, 125);
    text-decoration: none;
    &:active {
      color: $main-text-color;
    }
  }

  .artist-title-container {
    color: rgb(125, 125, 125);
    display: inline-block;

    &:first-of-type:before { content: '' }
    &:before { content: '\00a0' }
    &:after { content: ',' }
    &:last-of-type:after { content: '\00a0' }

    .artist-title {
      color: rgb(125, 125, 125);
      text-decoration: none;
      display: inline-block;

      &:active {
        color: $main-text-color;
      }
    }
  }

  .result-image {
    padding: 0 1rem;
    height: 50px;
  }
}
