@import '../../styles/variables.scss';

.welcome-header {
  transition: $main-transition;
  padding: 0 20%;
  text-align: center;

  .welcome-quote {
    margin: 20% 0;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: white;
  }

  span {
    font-weight: 700;
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    background-color: $main-color;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    transition: $main-transition;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      cursor: pointer;
      background-color: $main-color-lighter;
    }

    &:visited {
      color: white;
    }
  }
}

@media screen and (max-width: 900px) {
  .welcome-header{
    padding: 0 10%;
    .welcome-quote {
      h1{
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .welcome-header{
    padding: 5%;
    .welcome-quote {
      h1{
        font-size: 2.5rem;
      }
    }
  }
}
