@import '../../styles/variables.scss';

nav {
  position: relative;
  a {
    text-decoration: none;
  }
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 20%;

  .nav-menu-icon {
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  #nav-logo {
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 1rem 10%;

    .nav-menu-icon {
      display: inline;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 50px;
  }
}
